body{
    background-color: #001429;
    padding: 20px 100px 0px 100px;
    height: 100%;
}

.header{
    height: 50px;
    padding: 5px;
    margin-bottom: 20px;
}

.icon{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.title{
    font-size: 35px;
    font-weight: bold;
    font-family: "Trebuchet MS";
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 35px;
}

.about{
    padding: 30px;
    color: white;
    text-align: justify;
}
